@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
h1 {
  font-size: clamp(2.8rem, 7vw, 4rem);
}
h2 {
  font-size: 1.875rem;
  letter-spacing: 0.1em;
  font-weight: 200;
}
h3 {
  font-size: 1.8rem;
  letter-spacing: 0.05em;
  font-weight: 200;
}
h4 {
  font-size: 1.6rem;
  font-weight: 200;
  letter-spacing: 0.05em;
}
h5 {
  font-size: 1.4rem;
  font-weight: 200;
  letter-spacing: 0.05em;
}
p {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 200;
  letter-spacing: 0.05em;
  footer & {
    font-weight: 400;
  }
}
ul,
ol {
  li {
    font-size: 1.4rem;
    line-height: 2.5rem;
    letter-spacing: 0.05em;
  }
}
a {
  font-size: 1.4rem;
  letter-spacing: 0.05em;
  font-weight: 200;
}
body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

#scrollButton {
  transition: 500ms;
  opacity: 0.6;
  a {
    span {
      transition: 300ms;
    }
  }
  &:hover {
    opacity: 1;
    a {
      span {
        transform: translateY(-10%);
      }
    }
  }
}

#scrollButton.scroll__button__hidden {
  opacity: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@media all and (max-width: 1024px) {
  .header {
    /* background: rgb(247, 214, 182, 1); */
    > div {
      /* padding-block: 0.8rem; */
    }
  }
  .header__logo {
    color: rgb(15, 22, 36, 1);
  }
}
.nav__item__link {
  position: relative;
  transition: 300ms ease;
  span {
    opacity: 0;
    transition: opacity 350ms ease;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: -0rem;
    width: 0%;
    height: 0.1rem;
    left: 0;
    right: 0;
    background: #fff;
    border-radius: 25px;
    transition: width 250ms ease;
    margin-inline: auto;
  }

  &:hover {
    margin-top: -0.6rem;
    padding-bottom: 0.6rem;
    span {
      opacity: 1;
    }
    &::before {
      width: 95%;
    }
  }
}
.nav__item__link--scrolled {
  &::before {
    background: rgb(15, 22, 36, 1);
  }
}

.hero__media {
  position: relative;
  height: 100vh;
  width: 100%;
  z-index: 0;
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.75;

    z-index: 4;
  }
}

.hero {
  &::before {
    position: absolute;
    content: "";
    top: 98%;
    left: 0;
    background: rgba(15, 22, 36, 1);
    height: 400px;
    width: 100%;
  }
}

.hero__swiper {
  overflow: visible !important;
  .swiper-slide {
    opacity: 0 !important;
  }
  .swiper-slide-active {
    opacity: 1 !important;
  }
}

.hero__border__gradient {
  background: linear-gradient(
    0deg,
    rgba(15, 22, 36, 1),
    rgba(15, 22, 36, 1) 20%,
    rgba(15, 22, 36, 0)
  );
}

.hero__swiper {
  .swiper-slide {
    .desktop__img {
      opacity: 0;
      transform: translateY(100%);
    }
    .mobile__img {
      opacity: 0;
      transform: translateY(100%);
    }
  }
  .swiper-slide-active {
    div {
      opacity: 0;
      transform: scale(0.9);
      transition: opacity 500ms ease-out 9.6s, transform 1250ms ease 9.5s;
    }
    .desktop__img {
      opacity: 0.8;
      transform: translateY(0%);
      transition: 1s ease;
    }
    .mobile__img {
      opacity: 1;
      transform: translateY(5%);
      transition: 1s ease 400ms;
    }
  }
}

.button__link {
  a {
    position: relative;
    transition: 350ms;
    &::before {
      position: absolute;
      top: 0;
      right: auto;
      left: 0;
      bottom: 0;
      content: "";
      background: rgb(180, 217, 153, 1);
      width: 0%;
      z-index: -1;
      transition: inherit;
    }
  }
  &:hover {
    a {
      color: rgb(15, 22, 36, 1);
      &::before {
        width: 100%;
      }
    }
  }
}

/* ABOUT PAGE CUSTOM CSS */
.intro__image {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(61, 64, 91, 1);
  }
  img {
    mix-blend-mode: hard-light;
  }
}

@media all and (min-width: 640px) {
  .about__hero__text {
    justify-content: flex-end;
  }
  .about__intro__first {
    flex-direction: row;
    margin-top: 0;
    p.intro__first__para {
      width: calc(100% - clamp(300px, 38vw, 400px));
    }
    .intro__image {
      position: absolute;
      right: 0;
      bottom: 0.5rem;
    }
  }
}

.services__intro__text__container {
  &::before {
    position: absolute;
    content: "";
    width: calc(100% + 8px);
    height: 50%;
    background: transparent;
    border: 2px solid #f7d6b6;
    top: -4px;
    left: -4px;
    z-index: -1;
  }
  &::after {
    position: absolute;
    content: "";
    width: calc(100% + 10px);
    height: 50%;
    background: #fff;
    top: 0px;
    left: -5px;
    z-index: -1;
    transform: translateY(10rem);
  }

  @media all and (min-width: 1024px) {
    &::before {
      display: none;
    }
  }
}
/* .services__intro__text--line__hide {
  position: absolute;
  content: "";
  width: calc(100%);
  height: 100px;
  background: yellowgreen;
  top: 0;
  left: 0;
  right: 0;

  z-index: 0;
} */

.services__intro__text__container {
  @media all and (min-width: 640px) {
    width: 65%;
  }
}

.service__boxes {
  @media all and (min-width: 512px) {
    li:nth-child(2n + 1) {
      margin-left: auto;
      transform: translateY(-20%);
    }
  }
  @media all and (min-width: 1024px) {
    li:nth-child(2n + 1) {
      transform: translateY(0%);
    }
    li:nth-child(2n) {
      transform: translateY(-20%);
      margin-right: 0;
    }
    li {
      margin-left: auto;
    }
  }
}

.design__item__image {
  box-shadow: -5px -5px 18px rgb(247, 214, 182, 0.25);
  /* &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
  } */
  img {
  }
}

.design__item__text {
  h3 {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 12%;
      left: 0;
      height: 1px;
      width: 90%;
      margin-inline: auto;
      background: rgba(247, 214, 182, 0.7);
    }
  }
}

.service__box {
  transition: 1s;
  transform: translateY(0);
  border: 1px solid rgba(0, 0, 0, 0.02);

  .service__box--icon {
    transition: 400ms;
  }

  .service__box--intro {
    transition: 400ms;
  }

  .service__box--title {
    transition: 400ms;
  }
  .service__box--arrow {
    display: block;
    opacity: 0;
    transition: 400ms;
  }

  &:hover {
    background: rgba(247, 214, 182, 1);
    margin-top: -0.5rem !important;

    .service__box--icon {
      transform: translateY(-54px);
    }
    .service__box--intro {
      display: -webkit-box;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;
      overflow: hidden;
      transform: translateY(-54px);
    }
    .service__box--title {
      transform: translateY(-54px);
    }
    .service__box--arrow {
      transform: translateY(-24px);
      opacity: 0.8;
    }
  }
}

.contact__para {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: calc(100% - 0.5rem);
    height: calc(100% - 0.5rem);
    background: transparent;
    margin: auto;
    border: 2px solid rgba(61, 64, 91, 1);
  }
}
